@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

.font-1 {
    font-family: "Inconsolata";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: lowercase;
}

.font-2 {
    font-family: "Inconsolata";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    color: var(--black-color);
}

.font-3 {
    font-family: "Inconsolata";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    color: var(--black-color);
}

.font-4 {
    font-family: "Inconsolata";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black-color);
}

.font-5 {
    font-family: "Inconsolata";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font-6 {
    font-family: "Inconsolata";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}